In [1]:
import numpy as np
import pandas as pd

import bran

import matplotlib.pyplot as plt

%matplotlib widget

In [2]:
def get_survival_distributions(survival_times):
    out = survival_times.groupby(by="SURVIVAL_TIME").agg(len).rename({"MESSAGE_ID":"COUNT"},axis=1).reset_index(drop=False)
    out["PMF"] = out["COUNT"] / out["COUNT"].sum()
    out["CDF"] = out["PMF"].rolling(window=out.shape[0], min_periods=0).sum()
    return out

In [11]:
n = 100
p = 0.005
Alpha = 10
A = np.random.choice([0,1], size=n**2).reshape((n,n))

In [12]:
A = np.array([
    [0, 0, 1],
    [1, 0, 0],
    [0, 1, 0]
])

In [13]:
sim = bran.BrancherAnnihilator(A, p, Alpha)

In [16]:
test2 = sim.simulate()

In [17]:
test2

    MESSAGE_ID  SURVIVAL_TIME
0            0              1
1            1              1
2            2             10
3            3            110
4            4             83
5            5            217
6            6              1
7            7             97
8            8              1
9            9            147
10          10              1

In [25]:
test2["SURVIVAL_TIME"].value_counts()

3    889
1     61
2     33
4     10
5      7
Name: SURVIVAL_TIME, dtype: int64

In [13]:
A

array([[1, 0, 1, ..., 1, 0, 0],
       [1, 0, 1, ..., 1, 1, 0],
       [0, 1, 1, ..., 1, 1, 0],
       ...,
       [0, 1, 1, ..., 0, 0, 1],
       [0, 0, 1, ..., 1, 1, 0],
       [0, 1, 0, ..., 0, 1, 1]])